* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8fcda; /* rgb(43, 39, 39);*/
    color: white;
    height: 100vh;
    width: 100vw;
    font-family: 'Merriweather', serif;
}

header {
    text-align: center;
    height: 12%;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    font-size: 30px;
    background-color: #7b7263;
    letter-spacing: .15em;
}

#body-container {
    display: flex;
    width: 100%;
    height: 88%;
}

#editor-container {
    width: 68%;
    height: 100%;
}

#selector-container {
    width: 32%;
    border-right: 1px solid black;
}

#search-bar {
    height: 10%;
    background-color: #d7e6c7;
    color: black;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 3px 5px 5px grey;
    background-color: #c7a27C;
}

#search-input {
    background-color: #c7a27C;
}

#selector-display {
    height: 88%;
    overflow-y: auto;
    border-top: 1px solid black;
}

.thumbnail {
    background-color: #d7e6c7;
    color: black;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 3px 5px 5px grey;
}

.thumbnail:active {
    background-color: #b5c2a6;
    box-shadow: none;
}

/*.thumbnail:focus {
     background-color: rgb(212, 184, 156);
     outline: none;
}*/

.active {
    background-color: rgb(212, 184, 156);
     outline: none;
}

.info-bar {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 0;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.thumb-title {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.thumb-dates {
    font-size: 11px;
    text-align: right;
}

#display-container {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.display {
    background-color: #d7e6c7;
    height: 80%;
    width: 40%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 3px 5px 5px grey;
}

#controls {
    height: 15%;
    text-align: center;
}

input, textarea {
    font-family: 'Merriweather', serif;
    border: none;
    background-color: #d7e6c7;
    width: 100%;
    outline: none;
}

textarea {
    line-height: 20px;
}



label {
    color: black;
}

.title-editor {
    height: 10%;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

#title-input {
    height: 65%;
    font-size: 18px;
}

.body-editor {
    height: 80%;
    border-bottom: 1px solid black;
    margin-bottom: 3px;
}

#body-input {
    margin-top: 5px;
    height: 94%;
    resize: none;
}

.tags-editor {
    height: 10%;
}

#tags-input {
    height: 50%;
}

button {
    height: 50px;
    width: 150px;
    margin: 0 20px;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    background-color:#93ACB5;
    border-radius: 10px;
    box-shadow: 3px 5px 5px grey;
    outline-style: none;
}

button:active {
    background-color: rgb(114, 134, 141);
    box-shadow: none;
}

.delete-check {
    background-color: red;
}

